<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <material name="blue">
        <color rgba="0 0.3 0.8 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="blue_propeller">
        <color rgba="0 0.1 0.85 1"/>
    </material>

    <material name="glass">
        <color rgba="1.0 1.0 1.0 1"/>
    </material>
</robot>